<!DOCTYPE html>
<html class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="keywords" content="key words">
    <meta name="description" content="Descriptive sentences with keywords and without double quotation marks around 300 characters">

    <%= favicon_pack_tag 'favicon.ico' %>
    <title><%= full_title yield(:title) %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column h-100">
    <%= render 'layouts/header' %>

    <main class="flex-grow-1">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </main>

    <%= render 'layouts/footer' %>
  </body>
</html>
